.itemNotFoundContainer{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
    -webkit-animation: entrance 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
	        animation: entrance 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) 1.5s both;
}


.itemNotFoundTitle{
    font-weight: 900;
    font-size: 2rem;
    border: 3px solid rgb(245, 71, 71);
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.itemNotFoundTitle:hover{
    background-color: rgb(245, 71, 71);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transform: scale(1.1);
}

@-webkit-keyframes entrance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}
@keyframes entrance {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
}

@media (max-width: 800px) {
  .itemNotFoundTitle{
      padding: 0.75rem 1.5rem;
      font-size: 1.25rem;
  }
}
  