.paymentButton{
    margin: 15px 0 !important;
}

.mediosDePago{
    font-size: 0.85rem;
    color: rgb(70, 70, 202);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.mediosDePago>svg{
    width: 18px;
    margin-right: 4px;
}

.cuotasCredito{
    color: rgb(66, 173, 66);
    font-weight: 600;
    margin: 0 0 10px 0;
}

.paymentTitle{
    border-bottom: 1px solid #ccc;
    font-family: 'Montserrat', sans-serif;
}

.paymentMethodTitle{
    font-family: 'Raleway', sans-serif;
}

.debitCards, .creditCards, .efectivo, .digital{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}

.debitCards>img, .creditCards>img, .efectivo>img, .digital>img{
    margin: 10px;
}

.closeIcon{
    position: absolute;
    right: 32px;
    top: 32px;
}