.purchaseSuccessContainer{
    display: flex;
    justify-content: center;
    padding: 2rem;
}
.messageContainer{
    background-color: #23ab40;
    border-radius: 20px;
    width: max-content;
    color: white;
    font-size: 1.25rem;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 3rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.messageContainer:active{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    transition: all 0.3s ease;
}