.errorContainer{
    height: 90vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 30px;
}

.errorMessage{
    font-weight: 900;
    font-size: 2rem;
    border: 3px solid rgb(245, 71, 71);
    padding: 1rem 3rem;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.errorMessage:hover{
    background-color: rgb(245, 71, 71);
    color: white;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    transform: scale(1.1);
}

.errorIcon{
    margin: 0 0.5rem 0 0;
}

.errorVolver{
    display: flex;
    align-items: center;
    font-weight: 700;
    margin: 1.5rem 0 0 0;
}

.errorContainer>a{
    color: black;
    text-decoration: none;
}

@media (max-width: 800px) {
    .errorMessage{
        padding: 0.75rem 1.5rem;
        font-size: 1.25rem;
    }
}